<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>WebSocket Test</title>
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>
  <h1>Test WebSocket</h1>
  <button onclick="sendPing()">Trimite Ping</button>

  <script>
    // conectare la WebSocket
    const socket = io("http://192.168.50.119:5000/");

    socket.on("connect", () => {
      console.log("Conectat la WebSocket");
    });

    function sendPing() {
      const payload = { mesaj: "Salut de la browser!" };
      console.log("Trimit ping:", payload);
      socket.emit("ping", payload);
    }
  </script>
</body>
</html>
